.LetterBlock {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  min-width: 1.2em;
  color: rgb(0, 0, 0);
}

.LetterBlock:hover {
  text-decoration: overline wavy blue 3px;
  color: #fff;
  background-color: darkturquoise;
  /* background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, #000 100%); */
}

.LetterBlock > span {
  font-weight: 400;
}
